.sidebar{
  animation: sidebar;
  animation-duration: 1.5s;
  animation-fill-mode: both
}
@keyframes sidebar {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-20%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

    
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(20%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 10%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  

.animated.fadeInLeft{
  animation: fadeInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.animated.fadeInRight{
  animation: fadeInRight;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.animated.fadeInUp{
  animation: fadeInUp;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
  