.page-footer{
    color: #fff !important;
    z-index: 10 !important;
    background-color: transparent !important;
    background: var(--main-gredient) !important;
    padding-top: 1px !important;
    box-shadow: 0 6px 20px 0 rgba(123, 31, 162, .5) !important;
    @media only screen and (min-width: 993px){
        padding-inline-start: var(--sidebar-width) !important;
    }
    & .footer-copyright{
        background-color: transparent !important;
        display: flex !important;
        overflow: hidden !important;
        min-height: 50px !important;
        padding: 10px 0 !important;
        color: rgba(255, 255, 255, .8) !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    .container{
       
        & span{
            color: rgba(255, 255, 255, .8) !important;
        }
        & a{
            color :#fff !important;
        }
    }
}