.page-topbar .navbar-main {
  box-shadow: none;
  background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
}

.page-topbar .navbar-list li a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

@media only screen and (max-width: 601px) {
  .page-topbar .navbar-list li a {
    height: 54px;
  }
}

.page-topbar .navbar-list li a .avatar-status {
  line-height: 0;
  position: relative;
  display: inline-block;
  width: 28px;
  vertical-align: bottom;
  white-space: nowrap;
  border-radius: 50px;
}

.page-topbar .navbar-list li a .avatar-status img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
  background: #e6e6e6;
}

.page-topbar .navbar-list li .flag-icon {
  background-image: url(https://pixinvent.com/materialize-material-design-admin-template/app-assets/vendors/flag-icon/flags/4x3/gb.svg);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.page-topbar .navbar-list li .flag-icon:before {
  content: "\00a0";
}

.page-topbar .header-search-wrapper {
  position: relative;
  display: inline-block;
  width: calc(100% - 600px);
  height: 40px;
  margin: 10px auto 0 calc(var(--sidebar-width) + 15px);
  transition: 0.3s ease all;
  backface-visibility: hidden;
}

.page-topbar .header-search-wrapper input {
  color: #fff;
  border: 1px solid rgba(230, 230, 230, 0.05) !important;
  background: rgba(230, 230, 230, 0.3) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  display: block !important;
  width: 87% !important;
  height: 24px !important;
  padding: 8px 8px 8px 72px !important;
  transition: all 200ms ease !important;
  border: none !important;
  border-radius: 3px !important;
  outline: none !important;
  background: rgba(255, 255, 255, 0.3) !important;
  appearance: textfield !important;
}

.page-topbar .header-search-wrapper input:focus {
  border: 1px solid rgba(230, 230, 230, 0.1);
  background: rgba(230, 230, 230, 0.1);
  border-bottom: none !important;
  box-shadow: none !important;
}

.page-topbar .header-search-wrapper i {
  color: #fff;
  font-size: 24px;
  line-height: 32px !important;
  position: absolute;
  top: 6px;
  left: 24px;
  transition: color 200ms ease;
}

.search-sm .nav-wrapper form .input-field {
  color: #444;
  border: 0;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-sm .nav-wrapper form .input-field label i {
  color: #444;
}

.search-sm .nav-wrapper form .input-field i {
  color: #444;
}
