.card-title {
  font-size: 18px !important;
  font-weight: 400 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.medium-small {
  font-size: 1.44rem;
  color: #6b6f82;
}
